@import"nib"
@import"typographic"

rupture.scale = 0 400px 650px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'

typographic()
t-present(1)


.siteName
  font-weight 700 !important;

/*
  Navigation Bar and offcanvas menu begins from here
 */
.navbar-offcanvas .navbar-toggle .icon-bar {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  transition: transform 300ms cubic-bezier(0.55, 0, 0.1, 1), opacity 300ms cubic-bezier(0.55, 0, 0.1, 1);
  will-change: transform, opacity;
}
.navbar-offcanvas .navbar-toggle .icon-bar:nth-child(2) {
  transform: rotate(45deg) translateY(5px) translateX(4px);
}
.navbar-offcanvas .navbar-toggle .icon-bar:nth-child(3) {
  opacity: 0;
}
.navbar-offcanvas .navbar-toggle .icon-bar:nth-child(4) {
  transform: rotate(-45deg) translateY(-5px) translateX(3px);
}
.navbar-offcanvas .navbar-toggle.collapsed .icon-bar {
  opacity: 1;
  transform: rotate(0) translateY(0) translateX(0);
}
.navbar-offcanvas .navbar-collapse {
  background: #fff;
  border-right: 1px solid;
  border: none;
  display: block !important;
  height: calc(100vh - 50px) !important;
  position: fixed;
  width: 80%;
  max-width: 350px;
  z-index: 1;
  transform: translate(0, 0);
  transition: transform 300ms cubic-bezier(0.55, 0, 0.1, 1);
  will-change: transform;
}
.navbar-offcanvas .navbar-collapse, .navbar-offcanvas .navbar-collapse[aria-expanded="false"] {
  transform: translate(-100%, 0);
}
.navbar-offcanvas .navbar-collapse[aria-expanded="true"] {
  transform: translate(0, 0);
}

.navbar-blue {
  background: #1E88E5;
  border: none;
  border-radius: 0;
  color: #fff;
}
.navbar-blue .navbar-brand {
  color: #fff !important;
}
.navbar-blue .navbar-nav a {
  color: #333;
}

.navbar-black {
  background: #252623;
  border: none;
  border-radius: 0;
  color: #fff !important;
}
.navbar-black .navbar-brand {
  color: #fff !important;
}
.navbar-black .navbar-nav a {
  color: #fff !important;
}


.mobile-header
  float right
  ul
    margin 0
    padding 0
    
    li
      float: left
      display block
      min-width 45px
      margin-right 7px
      padding 15px 5px 0 3px
      background #f00
      min-height 50px


      a
        color #fff
  
.signUpBg
  background #f00

body {
  background: #ddd;
}

@media (min-width: 768px) {
  .navbar-offcanvas .navbar-collapse {
    background: transparent;
    height: auto !important;
    width: auto;
    max-width: none;
    position: static;
    transform: translate(0, 0) !important;
  }

  .navbar-blue .navbar-nav > li > a {
    color: #000;
  }
  .navbar-blue .navbar-nav > li.open > a,
  .navbar-blue .navbar-nav > li > a:hover {
    color: #333;
  }

  .navbar-black .navbar-nav > li > a {
    color: #000;
  }
  .navbar-black .navbar-nav > li.open > a,
  .navbar-black .navbar-nav > li > a:hover {
    color: #000;
  }
}

  
#bg_row
  height 550px;
  background linear-gradient(66deg, rgba(0,0,0, 0.4), rgba(0,0,0,0.7)), url("../img/bg/bg6.jpg")
  background-image linear-gradient(66deg, rgba(0,0,0, 0.4), rgba(0,0,0,0.7)), url("../img/bg/bg6.jpg")
  margin-top -17px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position relative


.welcome_text
  margin auto
  padding-top 100px

  h1
    color #fff
    text-align center


.row_2
  background: #f6f7f8;
  min-height: 400px;

  h1
    font-family 'lato', sans-serif


  p
    font-size 24px
    color #747372


.row_3
  height 300px;
  background linear-gradient(66deg, rgba(0,0,0, 0.4), rgba(0,0,0,0.7)), url("../img/bg/bg_1.jpg")
  background-image linear-gradient(66deg, rgba(0,0,0, 0.4), rgba(0,0,0,0.7)), url("../img/bg/bg_1.jpg")
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position relative


.row_4
  height 300px

  p
    font-size:  23px;
    line-height 40px


.row_5
  height 300px;
  background linear-gradient(66deg, rgba(0,0,0, 0.4), rgba(0,0,0,0.7)), url("../img/bg/bg3.jpg")
  background-image linear-gradient(66deg, rgba(0,0,0, 0.4), rgba(0,0,0,0.7)), url("../img/bg/bg3.jpg")
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position relative



.row_6
  min-height 300px
  padding-top 30px

  p
    font-size:  23px;
    line-height 40px


.row_7
  height 300px;
  background linear-gradient(66deg, rgba(0,0,0, 0.4), rgba(0,0,0,0.7)), url("../img/bg/caracica.jpg")
  background-image linear-gradient(66deg, rgba(0,0,0, 0.4), rgba(0,0,0,0.7)), url("../img/bg/caracica.jpg")
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position relative


.row_8
  min-height 400px


.row_9
  height 300px;
  background linear-gradient(66deg, rgba(0,0,0, 0.4), rgba(0,0,0,0.7)), url("../img/bg/cam.jpg")
  background-image linear-gradient(66deg, rgba(0,0,0, 0.4), rgba(0,0,0,0.7)), url("../img/bg/cam.jpg")
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position relative